@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    align-content: center;
}
header > img {
    width: 500px;
    margin: 10px;
}

/*------US-----*/

#us > img {
    width: 1000px;
    height: 749px;
}
#us {
    padding: 5px;
    margin-top: 10px;
    background-color: #1b1b1b;
}
#us > p > img {
    width: 100px;
    height: 40px;
}
p {
    color: #ffd700;
    margin: 20px;
    padding: 20px;
}

/*------GALERY-----*/

#galery > img {
    filter: grayscale(100%);
    height: 200px;
    width: 200px;
}
#galery > img:hover {
    filter: none;
}
#galery {
    background-color: #1b1b1b;
    display: flex;
    flex-flow: row wrap;
    gap: 70px;
    justify-content: center;
    align-content: space-between;
    margin-top: 10px;
}
#tortak {
    background-color: #1b1b1b;
    display: flex;
    flex-flow: row wrap;
    gap: 70px;
    justify-content: center;
    align-content: space-between;
}
#tortak > img {
    height: 200px;
    width: 200px;
    filter: grayscale(100%);
}
#tortak > img:hover {
    filter: none;
}

/*------MENU-----*/

.menu {
    width: 30%;
    justify-content: space-evenly;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: absolute;
    padding-right: 15px;
    right: 10px;
    top: 5px;
    background-color: #1b1b1b;
}
nav > a {
    align-self: center;
    color: #8a624a;
    text-decoration: none;
    margin: 2px;
}

.menu > a:hover {
    text-decoration: underline #ffd700 !important;
    align-items: center;
}

/*------ASIDE-----*/

aside > a {
    margin: 20px;
    text-decoration: none;
    color: white;
}
#arrow {
    color: #ffd700;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 40px;
}
#fb {
    position: fixed;
    left: 10px;
    top: 100px;
    font-size: 40px;
}
#fb:hover {
    color: #1778F2;
}

/*------CONTACT-----*/

#contact {
    background-color: #1b1b1b;
}
#targy {
    font-size: 15px;
}
form {
    display: flex;
    flex-direction: column;
    align-content: center;
}
textarea {
    align-self: center;
}
.btn {
    align-self: center;
}

/*------FOOTER-----*/

footer {
    height: 350px;
}
footer > a {
    margin: 20px;
    text-decoration: none;
    color: white;
}

footer > p {
    font-size: 20px;
    text-align: left;
    float: left;
}
footer > p::after {
    clear: left;
}
input {
    margin: 10px;
    padding: 10px;
}
iframe {
    margin: 10px;
}


/*----QUERY----*/

@media (max-width:426px) {
    header > img {
        width: 80%;
    }
    nav.menu {
        display: block;
        position: static;
        left: 88.3px;
        right: auto;
        top: auto;
        bottom: auto;
        padding: 10px;
        margin: 0 auto;
        background-color: #1b1b1b;
        
    }
    .menu {
        width: 40%;
        justify-content: center;
    }
    nav > a {
        align-content: center;
        width: 50%;
        color: #8a624a;
        text-decoration: none;
        margin: 2px;
    }
    nav > a:hover {
        text-decoration: underline #ffd700;
        align-items: center;
    }
    #us > img {
        width: 100%;
        height: auto;
    }
    #galery > img {
        filter: grayscale(100%);
        height: 200px;
        width: 200px; 
    }
    #galery > img:hover {
        filter: none;
    }
    #galery {
        background-color: #1b1b1b;
    }
    #tortak {
        background-color: #1b1b1b;
        margin: 10px;
    }
    #tortak > img {
        height: 200px;
        width: 200px;
        filter: grayscale(100%);
    }
    #tortak > img:hover {
        filter: none;
    }
    #galery, #tortak {
        text-align: center;
    }
}