body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
}
section > img {
    filter: grayscale(100%);
    height: 200px;
    width: 200px;
}
img:hover {
    filter: none;
    height: 300px;
    width: 300px;
    transition: 2s;
}
p {
    color: #ffd700;
    margin: 20px;
    padding: 20px;
}
a {
    color: #8a624a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}