html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    align-content: center;
}
header > img {
    width: 500px;
}
section > img {
    filter: grayscale(100%);
    height: 200px;
    width: 200px;
}
section > img:hover {
    filter: none;
    height: 300px;
    width: 300px;
    transition: 1.5s;
}
img {
    transition: .75s;
    padding: 30px;
}
nav {
    display: flex;
    flex-direction: column;
    align-content: center;
}
nav > a {
    align-self: center;
    width: 25%;
}
p {
    color: #ffd700;
    margin: 20px;
    padding: 20px;
}
nav > a {
    color: #8a624a;
    text-decoration: none;
}
nav > a:hover {
    background-color: #ffd700;
    align-items: center;
    border-radius: 50%;
}
footer > a {
    margin: 20px;
    text-decoration: none;
    color: white;
}
#arrow {
    color: #ffd700;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 15px;
}
form {
    display: flex;
    flex-direction: column;
    align-content: center;
}
textarea {
    align-self: center;
}
.btn {
    align-self: center;
}
footer {
    height: 350px;
}
#fb {
    position: fixed;
    left: 10px;
    bottom: 10px;
}
#fb:hover {
    color: #1778F2;
}
footer > p {
    text-align: left;
    float: left;
}
footer > p::after {
    clear: left;
}
input {
    margin: 10px;
    padding: 10px;
}
iframe {
    margin: 10px;
}
@media (max-width:380px) {
    header > img {
        width: 100%;
    }
}